<% provide(:title, 'About') %>

<h1>About Us<h1>
<p>
	Haggendazz is a free web based application for publishing micropost... yeah, just like twitter, but not so cool
</p>
<p>
	written by Felipe Jun Fujioka Shida
</p>

