<html>
	<% provide(:title, "Home") %>
	<head>
		<title>Home</title>
	</head>
	<body>
		<div class="center hero-unit">
			<h1>Haggendazz</h1>
			
			<h2>
				Welcome to the Haggendazz
			</h2>
			<%= link_to "Sign up now!",signup_path, :class => "btn btn-large btn-primary" %>
		</div>
		
		<%= link_to image_tag("rails.png", :alt => "Rails"), 'http://rubyonrails.org/' %>
	<body>
</html>