<footer class="footer">
	<small>
		<a href="http://haggendazz.herokuapp.com">HAGGENDAZZ</a>
		by Felipe Jun
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://www.google.com">ASK</a></li>
		</ul>	
	</nav>
</footer>